trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  apiProject: 'SlashData.Public.Api/SlashData.Public.Api.csproj'
  frontendDir: 'slashdata-public-site'

steps:
- checkout: self
  clean: true

- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Use Node.js 20'

- script: |
    cd $(frontendDir)
    npm ci
    npm run build
  displayName: 'Build frontend'

- script: |
    rm -rf SlashData.Public.Api/wwwroot
    mkdir -p SlashData.Public.Api/wwwroot
    rsync -a --delete slashdata-public-site/build/ SlashData.Public.Api/wwwroot/
  displayName: 'Sync frontend build to API wwwroot'

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '10.0.x'
  displayName: 'Use .NET SDK 10'

- script: |
    dotnet restore $(apiProject)
    dotnet publish $(apiProject) -c $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)/app
  displayName: 'Publish API (includes frontend build)'
  env:
    Recaptcha__SecretKey: $(Recaptcha__SecretKey)
    Settings__Email__ApiKey: $(Settings__Email__ApiKey)

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/app'
    ArtifactName: 'app'
    publishLocation: 'Container'
  displayName: 'Publish artifact'
